.calculator {

    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4,25%); /* dividir em 4 colunas e cada uma participando com 25% do espaço*/
    grid-template-rows: 1fr 48px 48px 48px 48px 48px; /*definir tamanho das linhas*/
}